[submodule "themes/hugo-natrium-theme"]
	path = themes/hugo-natrium-theme
	url = https://github.com/mobybit/hugo-natrium-theme
[submodule "public"]
	path = public
	url = https://github.com/dawehner/dawehner.github.com.git
	branch = master
