{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article h-entry">
    <h2 class="article-title p-name">{{ .Title }}</h2>
    {{ if eq .Section "post" }}
    <span class="article-duration">{{ .ReadingTime }} min read</span>
    <span class="article-date"><time class="dt-published"
        datetime="{{ .Date.Format "02 Jan 06 15:04"}} ">{{ .Date.Format "2006-01-02" }}</time></span>
    {{ end }}

    <div class="article-content e-content">
      {{ .Content }}
      Link: <a href="https://{{ .Params.link_url }}">{{ .Params.link_url }}</a>
    </div>

    <ul class="article-taxonomy">
      {{ if .Params.categories }}
      <hr>
      <li>
        <i
          class="fa fa-category p-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a
          href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a
          href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
    </ul>


    <a class="hidden" href="https://brid.gy/publish/mastodon"></a>
  </article>

</main>

{{ partial "footer.html" . }}